In [8]:
import pandas as pd
import yfinance as yf
import datetime
from pandas_datareader.data import DataReader

In [10]:
tickers = ['AMZN', 'AAPL', 'MSFT', 'GOOG', 'PYPL', 'ADBE', 'NVDA', 'TSLA']
df = DataReader(tickers, 'yahoo', start = '2015-8-23')['Adj Close']
df

Symbols,AMZN,AAPL,MSFT,GOOG,PYPL,ADBE,NVDA,TSLA
Date,,,,,,,,
2015-08-24,23.168501,23.500523,37.222427,29.480499,33.750000,74.269997,5.038919,14.591333
2015-08-25,23.318501,23.641819,36.141838,29.103001,32.700001,74.570000,4.934298,14.668667
2015-08-26,25.038500,24.997793,38.142273,31.431000,33.169998,77.330002,5.306560,14.989333
2015-08-27,25.918501,25.733894,39.205013,31.880501,34.619999,78.910004,5.506073,16.199333
2015-08-28,25.900499,25.818214,39.231808,31.518999,35.040001,79.400002,5.530403,16.565332
...,...,...,...,...,...,...,...,...
2022-11-09,86.139999,134.869995,224.509995,87.400002,78.680000,298.869995,137.759995,177.589996
2022-11-10,96.629997,146.869995,242.979996,94.169998,86.800003,329.950012,157.500000,190.720001
2022-11-11,100.790001,149.699997,247.110001,96.730003,91.029999,341.149994,163.270004,195.970001
2022-11-14,98.489998,148.279999,241.550003,96.029999,89.510002,340.369995,162.949997,190.949997
2022-11-15,98.940002,150.039993,241.970001,98.720001,89.860001,345.959991,166.660004,194.419998

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: pandas>=0.23 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas_datareader) (1.5.1)
Requirement already satisfied: lxml in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.23->pandas_datareader) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.23->pandas_datareader) (2022.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests>=2.19.0->pandas_datareader) (2.1.1)
Requirement already satisfied: six>=1.5 in c:\users\personal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0