In [1]:
import sqlalchemy
import pymysql
import pandas as pd
import yfinance as yf
import ta
import numpy as np
import datetime as dt
import smtplib
pymysql.install_as_MySQLdb()

In [2]:
  
        
    def gettables(self):
        query = f"""SELECT table_name FROM information_schema.tables
                    WHERE table_schema = '{self.index}'"""
        df = pd.read_sql(query, self.engine)
        df['Schema'] = self.index
        return df
    
    def getprices(self):
        prices = []
        for table, schema in zip(self.gettables().TABLE_NAME, self.gettables().Schema):
            sql = schema+'.'+f'`{table}`'
            prices.append(pd.read_sql(f"SELECT Date, Close FROM {sql}", self.engine))
        return prices

    def maxdate(self):
        sql = self.index+'.'+f'`{self.gettables().TABLE_NAME[0]}`'
        return pd.read_sql(f"SELECT MAX(Date) FROM {sql}", self.engine)
    
    def updateDB(self):
        maxdate = self.maxdate()['MAX(Date)'][0]
        engine = \
        sqlalchemy.create_engine('mysql://root:gwUx63fQyt_km*M*@localhost:3306/' \
                                 +self.index)
        for symbol in self.gettables().TABLE_NAME:
            data = yf.download(symbol, start=maxdate)
            data = data[data.index> pd.to_datetime(maxdate, unit="ns", utc=True)]
            data = data.reset_index()
            data.to_sql(symbol, engine, if_exists='append')
        print(f'{self.index} successfully updated')
     
    def MACDdecision(self,df):
        df['MACD_diff'] = ta.trend.macd_diff(df.Close)
        df['Decision MACD'] = np.where((df.MACD_diff > 0) & (df.MACD_diff.shift(1) < 0), 
                                       True, False)
        
    def Goldencrossdecision(self,df):
        df['SMA50'] = ta.trend.sma_indicator(df.Close, window=50)
        df['SMA200'] = ta.trend.sma_indicator(df.Close, window=200)
        df['Signal'] = np.where(df['SMA50'] > df['SMA200'], True, False)
        df['Decision GC'] = df.Signal.diff()
        
    def RSI_SMAdecision(self,df):
        df['RSI'] = ta.momentum.rsi(df.Close, window=10)
        df['SMA200'] = ta.trend.sma_indicator(df.Close, window=200)
        df['Decision RSI/SMA'] = np.where((df.Close > df.SMA200) & (df.RSI < 30),
                                         True, False)
        
    def applytechnicals(self):
        prices = self.getprices()
        for frame in prices:
            self.MACDdecision(frame)
            self.Goldencrossdecision(frame)
            self.RSI_SMAdecision(frame)
        return prices
    
    def recommend(self):
        signals = []
        indicators = ['Decision MACD', 'Decision GC', 'Decision RSI/SMA']
        for symbol, frame in zip(self.gettables().TABLE_NAME, self.applytechnicals()):
            if frame.empty is False:
                for indicator in indicators:
                    if frame[indicator].iloc[-1] == True:
                        signals.append(f"{indicator} Buying Signal for "+ symbol)
        return signals

In [4]:
jgstocksinst = Recommender('JGStocks')
sp100inst = Recommender('sp100')
wfsmidinst = Recommender('wfsmid')

In [5]:
#jgstocksinst.updateDB()
#sp100inst.updateDB()
wfsmidinst.getprices()

[          Date      Close
 0   2020-01-02  67.660004
 1   2020-01-03  69.260002
 2   2020-01-06  69.980003
 3   2020-01-07  69.989998
 4   2020-01-08  69.870003
 ..         ...        ...
 711 2022-10-26  66.739998
 712 2022-10-27  67.745003
 713 2022-10-28  67.300003
 714 2022-10-31  67.955002
 715 2022-11-01  68.849998

 [716 rows x 2 columns],
           Date      Close
 0   2020-01-02  30.650000
 1   2020-01-03  30.410000
 2   2020-01-06  30.180000
 3   2020-01-07  30.549999
 4   2020-01-08  30.549999
 ..         ...        ...
 713 2022-10-27  24.059999
 714 2022-10-28  23.475000
 715 2022-10-28  23.750000
 716 2022-10-31  23.690001
 717 2022-11-01  23.660000

 [718 rows x 2 columns],
           Date      Close
 0   2020-07-24  28.559999
 1   2020-07-27  28.386667
 2   2020-07-28  27.786667
 3   2020-07-29  29.186666
 4   2020-07-30  27.146667
 ..         ...        ...
 572 2022-10-27  30.900000
 573 2022-10-28  30.190001
 574 2022-10-28  30.318001
 575 2022-10-31  30.480000
 576 2022-11-01  31.355000

 [577 rows x 2 columns],
           Date      Close
 0   2020-01-02  20.320000
 1   2020-01-03  20.340000
 2   2020-01-06  21.040001
 3   2020-01-07  21.969999
 4   2020-01-08  22.209999
 ..         ...        ...
 712 2022-10-27  23.986000
 713 2022-10-27  24.290001
 714 2022-10-28  24.040001
 715 2022-10-31  24.235001
 716 2022-11-01  24.610001

 [717 rows x 2 columns],
           Date      Close
 0   2020-01-02  39.610001
 1   2020-01-03  39.650002
 2   2020-01-06  39.619999
 3   2020-01-07  39.500000
 4   2020-01-08  39.790001
 ..         ...        ...
 713 2022-10-27  56.560001
 714 2022-10-28  56.930000
 715 2022-10-28  57.650002
 716 2022-10-31  58.430000
 717 2022-11-01  58.959999

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02  229.179993
 1   2020-01-03  228.729996
 2   2020-01-06  231.860001
 3   2020-01-07  234.039993
 4   2020-01-08  233.130005
 ..         ...         ...
 713 2022-10-27  145.449997
 714 2022-10-28  139.945007
 715 2022-10-28  141.005005
 716 2022-10-31  142.725006
 717 2022-11-01  145.339996

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02  440.750000
 1   2020-01-03  441.350006
 2   2020-01-06  446.380005
 3   2020-01-07  442.290009
 4   2020-01-08  448.130005
 ..         ...         ...
 710 2022-10-26  467.809998
 711 2022-10-26  467.809998
 712 2022-10-27  464.609985
 713 2022-10-31  458.260010
 714 2022-11-01  469.940002

 [715 rows x 2 columns],
           Date      Close
 0   2020-01-02  29.620001
 1   2020-01-03  29.340000
 2   2020-01-06  29.370001
 3   2020-01-07  29.200001
 4   2020-01-08  28.620001
 ..         ...        ...
 713 2022-10-27  40.700001
 714 2022-10-28  38.500000
 715 2022-10-28  38.520000
 716 2022-10-31  39.910000
 717 2022-11-01  39.709999

 [718 rows x 2 columns],
           Date      Close
 0   2020-01-02  57.980000
 1   2020-01-03  57.480000
 2   2020-01-06  56.730000
 3   2020-01-07  56.419998
 4   2020-01-08  56.139999
 ..         ...        ...
 712 2022-10-27  56.000000
 713 2022-10-27  56.130001
 714 2022-10-28  56.650002
 715 2022-10-31  57.410999
 716 2022-11-01  57.930000

 [717 rows x 2 columns],
           Date      Close
 0   2020-01-02  43.500000
 1   2020-01-03  43.910000
 2   2020-01-06  44.150002
 3   2020-01-07  42.820000
 4   2020-01-08  42.250000
 ..         ...        ...
 712 2022-10-27  17.629999
 713 2022-10-27  17.670000
 714 2022-10-28  17.230000
 715 2022-10-31  17.355000
 716 2022-11-01  17.690001

 [717 rows x 2 columns],
           Date      Close
 0   2020-01-02  35.099998
 1   2020-01-03  34.849998
 2   2020-01-06  34.520000
 3   2020-01-07  34.139999
 4   2020-01-08  34.509998
 ..         ...        ...
 713 2022-10-27  37.450001
 714 2022-10-28  37.380001
 715 2022-10-28  37.730000
 716 2022-10-31  38.070999
 717 2022-11-01  38.445000

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02   93.290001
 1   2020-01-03   94.529999
 2   2020-01-06   93.870003
 3   2020-01-07   93.959999
 4   2020-01-08   95.750000
 ..         ...         ...
 713 2022-10-27  126.389999
 714 2022-10-28  123.529999
 715 2022-10-28  124.684998
 716 2022-10-31  125.169998
 717 2022-11-01  126.290001

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02  110.080002
 1   2020-01-03  110.290001
 2   2020-01-06  110.449997
 3   2020-01-07  111.339996
 4   2020-01-08  110.739998
 ..         ...         ...
 712 2022-10-27   58.312500
 713 2022-10-27   59.025002
 714 2022-10-28   58.465000
 715 2022-10-31   59.529999
 716 2022-11-01   59.959999

 [717 rows x 2 columns],
           Date      Close
 0   2021-07-22  54.500000
 1   2021-07-23  60.000000
 2   2021-07-26  61.000000
 3   2021-07-27  60.000000
 4   2021-07-28  60.049999
 ..         ...        ...
 321 2022-10-27  36.814999
 322 2022-10-27  37.310001
 323 2022-10-28  36.619999
 324 2022-10-31  36.770000
 325 2022-11-01  37.560001

 [326 rows x 2 columns],
           Date       Close
 0   2020-01-02  104.190002
 1   2020-01-03  101.879997
 2   2020-01-06  100.139999
 3   2020-01-07  100.779999
 4   2020-01-08  101.070000
 ..         ...         ...
 713 2022-10-27  176.149994
 714 2022-10-28  173.639999
 715 2022-10-28  174.080002
 716 2022-10-31  175.229996
 717 2022-11-01  175.809998

 [718 rows x 2 columns],
           Date      Close
 0   2020-01-02  22.480000
 1   2020-01-03  22.110001
 2   2020-01-06  22.580000
 3   2020-01-07  22.280001
 4   2020-01-08  21.360001
 ..         ...        ...
 713 2022-10-27  16.985001
 714 2022-10-28  16.700001
 715 2022-10-28  16.629999
 716 2022-10-31  16.665001
 717 2022-11-01  17.020000

 [718 rows x 2 columns],
           Date      Close
 0   2020-01-02  84.089996
 1   2020-01-03  93.559998
 2   2020-01-06  90.699997
 3   2020-01-07  91.209999
 4   2020-01-08  91.260002
 ..         ...        ...
 713 2022-10-27  84.580002
 714 2022-10-28  85.092499
 715 2022-10-28  85.084999
 716 2022-10-31  85.800003
 717 2022-11-01  86.519997

 [718 rows x 2 columns],
           Date      Close
 0   2020-01-02  33.660000
 1   2020-01-03  33.290001
 2   2020-01-06  32.889999
 3   2020-01-07  32.910000
 4   2020-01-08  33.240002
 ..         ...        ...
 712 2022-10-27  35.310001
 713 2022-10-28  34.639999
 714 2022-10-28  34.950001
 715 2022-10-31  36.064999
 716 2022-11-01  36.240002

 [717 rows x 2 columns],
           Date        Close
 0   2020-01-02  1155.219971
 1   2020-01-03  1161.439941
 2   2020-01-06  1160.589966
 3   2020-01-07  1160.140015
 4   2020-01-08  1152.719971
 ..         ...          ...
 712 2022-10-27  1177.949951
 713 2022-10-27  1176.949951
 714 2022-10-28  1175.040039
 715 2022-10-31  1195.640015
 716 2022-11-01  1213.569946

 [717 rows x 2 columns],
           Date       Close
 0   2020-01-02  171.070007
 1   2020-01-03  169.320007
 2   2020-01-06  167.919998
 3   2020-01-07  165.889999
 4   2020-01-08  166.729996
 ..         ...         ...
 712 2022-10-27  167.220001
 713 2022-10-27  166.910004
 714 2022-10-28  168.070007
 715 2022-10-31  169.074997
 716 2022-11-01  169.729996

 [717 rows x 2 columns],
           Date       Close
 0   2020-01-02  243.479996
 1   2020-01-03  243.770004
 2   2020-01-06  245.320007
 3   2020-01-07  244.520004
 4   2020-01-08  248.740005
 ..         ...         ...
 712 2022-10-27  218.710007
 713 2022-10-27  219.434998
 714 2022-10-28  212.009995
 715 2022-10-31  215.449997
 716 2022-11-01  221.809998

 [717 rows x 2 columns],
           Date      Close
 0   2020-01-02  71.256546
 1   2020-01-03  71.577225
 2   2020-01-06  70.909683
 3   2020-01-07  70.634819
 4   2020-01-08  70.870422
 ..         ...        ...
 713 2022-10-27  89.110001
 714 2022-10-28  89.330002
 715 2022-10-28  90.125000
 716 2022-10-31  90.400002
 717 2022-11-01  90.487503

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02  160.570007
 1   2020-01-03  162.289993
 2   2020-01-06  163.190002
 3   2020-01-07  165.529999
 4   2020-01-08  167.139999
 ..         ...         ...
 711 2022-10-26  241.809998
 712 2022-10-27  246.369995
 713 2022-10-27  246.369995
 714 2022-10-31  254.259995
 715 2022-11-01  254.714996

 [716 rows x 2 columns],
           Date       Close
 0   2020-01-02   90.110001
 1   2020-01-03   90.480003
 2   2020-01-06   91.739998
 3   2020-01-07   89.449997
 4   2020-01-08   89.400002
 ..         ...         ...
 712 2022-10-27  124.849998
 713 2022-10-27  124.849998
 714 2022-10-28  127.019997
 715 2022-10-31  128.259995
 716 2022-11-01  129.789993

 [717 rows x 2 columns],
           Date      Close
 0   2020-01-02  75.980003
 1   2020-01-03  75.150002
 2   2020-01-06  74.760002
 3   2020-01-07  74.970001
 4   2020-01-08  73.720001
 ..         ...        ...
 712 2022-10-27  92.500000
 713 2022-10-27  92.510002
 714 2022-10-28  93.529999
 715 2022-10-31  94.679298
 716 2022-11-01  95.239998

 [717 rows x 2 columns],
           Date       Close
 0   2020-01-02  254.270004
 1   2020-01-03  250.330002
 2   2020-01-06  249.240005
 3   2020-01-07  250.399994
 4   2020-01-08  252.779999
 ..         ...         ...
 713 2022-10-28  229.990005
 714 2022-10-28  231.990005
 715 2022-10-31  230.309998
 716 2022-11-01  235.000000
 717 2022-11-01  233.660004

 [718 rows x 2 columns],
           Date      Close
 0   2020-01-02  31.219999
 1   2020-01-03  31.620001
 2   2020-01-06  31.600000
 3   2020-01-07  31.430000
 4   2020-01-08  31.490000
 ..         ...        ...
 713 2022-10-27  30.450001
 714 2022-10-28  31.230000
 715 2022-10-31  31.299999
 716 2022-11-01  31.660000
 717 2022-11-01  31.780001

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02  147.399994
 1   2020-01-03  149.820007
 2   2020-01-06  149.149994
 3   2020-01-07  146.899994
 4   2020-01-08  147.970001
 ..         ...         ...
 713 2022-10-27  134.119995
 714 2022-10-28  130.455002
 715 2022-10-31  134.429993
 716 2022-11-01  134.850006
 717 2022-11-01  135.479996

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02  306.239990
 1   2020-01-03  306.670013
 2   2020-01-06  310.209991
 3   2020-01-07  311.269989
 4   2020-01-08  310.989990
 ..         ...         ...
 713 2022-10-27  347.420013
 714 2022-10-28  332.109985
 715 2022-10-28  330.290009
 716 2022-10-31  327.695007
 717 2022-11-01  325.029999

 [718 rows x 2 columns],
           Date      Close
 0   2020-01-02  32.220001
 1   2020-01-03  32.029999
 2   2020-01-06  31.959999
 3   2020-01-07  32.070000
 4   2020-01-08  32.110001
 ..         ...        ...
 713 2022-10-28  12.480000
 714 2022-10-28  12.565000
 715 2022-10-31  12.745000
 716 2022-11-01  13.260000
 717 2022-11-01  13.715000

 [718 rows x 2 columns],
           Date       Close
 0   2020-01-02   91.730003
 1   2020-01-03   91.599998
 2   2020-01-06   92.860001
 3   2020-01-07   92.580002
 4   2020-01-08   93.269997
 ..         ...         ...
 714 2022-10-28  133.830002
 715 2022-10-28  133.600006
 716 2022-10-31  133.494995
 717 2022-11-01  133.274994
 718 2022-11-01  133.389999

 [719 rows x 2 columns],
           Date      Close
 0   2020-01-02  45.973331
 1   2020-01-03  46.033333
 2   2020-01-06  45.966667
 3   2020-01-07  45.126667
 4   2020-01-08  45.446667
 ..         ...        ...
 714 2022-10-28  71.459999
 715 2022-10-28  72.044998
 716 2022-10-31  73.059998
 717 2022-11-01  74.779999
 718 2022-11-01  74.830002

 [719 rows x 2 columns],
           Date       Close
 0   2020-01-02  151.740005
 1   2020-01-03  152.139999
 2   2020-01-06  152.220001
 3   2020-01-07  151.830002
 4   2020-01-08  149.779999
 ..         ...         ...
 713 2022-10-27  212.475006
 714 2022-10-28  220.664993
 715 2022-10-28  220.384995
 716 2022-10-31  227.134995
 717 2022-11-01  226.089996

 [718 rows x 2 columns]]

In [14]:
sender = 'jacob.gaylord@gmail.com'
password = 'lmxovxudlmlhaqpr'

message = f"""\
Subject: Buy Recommendations \

JGStocks
{jgstocksinst.recommend()}

S&P 100
{sp100inst.recommend()}

WF Small to Midsize
{wfsmidinst.recommend()}"""

server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(sender,password)

(235, b'2.7.0 Accepted')

In [15]:
server.sendmail(sender, sender, message)

{}